


<ion-content class="bg-gray">
  <div *ngIf="getCartDetails.length < 1" class="noitem">
    <img  src="assets/images/empty-cart.svg" />
    <h1>Oops!</h1>
  </div>
  <div *ngIf="getCartDetails.length > 1" class="divmain" >
    <div class="fixed z-10 top-0 left-0 right-0 flex p-4 bg-white shadow-lg items-center justify-between p-4 border-b">
      <button class="text-xl" routerLink="/home"><i class="fas fa-arrow-left"></i></button>
      <h1 class="text-lg font-bold"> Your Cart</h1>
      <button class="text-xl"><i class="fas fas fa-shopping-cart"></i></button>
  </div>
  <div   class="max-w-md mx-auto mt-10 p-4 bg-white rounded-lg shadow-lg ">
    <!-- <p class="text-green-500 mt-2"><i class="fas fa-check-circle"></i> Free Delivery unlocked, apply coupon to avail</p> -->

    <div class="bg-blue-50 mt-4 p-4 rounded">
        <div class="flex items-center">
            <div class="bg-teal-500 text-white rounded-full p-2">
                <i class="far fa-clock"></i>
            </div>
            <h2 class="ml-2 font-semibold text-gray-800">Delivery in 6 mins</h2>
        </div>
        <div class="mt-4">
            <div  *ngFor="let item of getCartDetails" class="flex items-center justify-between mt-4">
                <div  class="flex items-start">
                    <img src="{{item.nutrition_weight}}" alt="Image of Grapes Green Sonaka Seedless" class="w-10 h-10">
                    <div class="ml-2">
                        <p class="text-sm font-medium text-gray-900">{{ item.name }}</p>
                        <p class="text-xs text-gray-500">{{item.price}}</p>
                        <p class="text-xs text-gray-500">{{item.unit_name}} {{item.unit_value}}</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <button class="bg-pink-600 text-white rounded-full w-6 h-6 text-center" (click)="decQnt(item.prod_id, item.qty)">-</button>
                    <span class="px-2">  {{ item.qty }}</span>
                    <button class="bg-pink-600 text-white rounded-full w-6 h-6 text-center"    (click)="incQnt(item.prod_id, item.qty)">+</button>
                    <div class="ml-4 text-right">
                        <p class="text-gray-900">₹{{ item.qty * item.price | number }}</p>
                        <!-- <p class="text-xs line-through text-gray-500">₹150</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="mt-4 font-medium">Missed something?</p>
    <button class="bg-black text-white font-medium text-sm mt-2 px-4 py-2 rounded flex items-center">
        <i class="fas fa-plus-circle mr-2"></i> Add More Items
    </button>

    <!-- <button class="mt-8 w-full bg-pink-600 text-white font-medium py-3 rounded">
        Add Address to proceed
    </button>
       <div class="bg-white rounded-xl p-4 shadow-sm mb-4">
        <div class="flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <i class="fas fa-percent text-green-500"></i>
                <span class="font-semibold text-sm">You have unlocked <span class="text-purple-600">10 new coupons</span></span>
            </div>
            <i class="fas fa-chevron-right"></i>
        </div>
        <p class="text-xs text-gray-500">Explore Now</p>
    </div>

    <div class="bg-white rounded-xl p-4 shadow-sm mb-4 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <i class="fas fa-seedling bg-green-100 text-green-600 rounded-full p-2"></i>
            <div class="flex flex-col">
                <span class="font-semibold text-sm">I don't need a paper bag!</span>
                <p class="text-xs text-gray-500">We have opted you in for no bag delivery</p>
            </div>
        </div>
        <div class="w-10 h-5 bg-gray-300 rounded-full flex items-center justify-start p-1">
            <div class="w-4 h-4 bg-green-500 rounded-full"></div>
        </div>
    </div> -->

    <!-- Bill Summary -->
    <div class="bg-white rounded-xl p-4 shadow-sm mb-4">
        <div class="flex justify-between items-baseline mb-2">
            <span class="font-semibold text-sm text-gray-700">To Pay</span>
            <div class="text-right">
                <span class="text-green-600 font-bold">₹{{total}}</span>
            </div>
        </div>
        <p class="text-xs text-gray-500">Incl. all taxes and charges</p>
        <hr class="my-4">

        <!-- Detailed Summary -->
        <h3 class="font-bold text-gray-700 mb-2">Bill Summary</h3>
        <div class="flex justify-between items-center mb-2">
            <span>Item Total & GST</span>
            <div class="text-right">
                <!-- <span class="line-through text-gray-400 text-xs">₹{{grandTotal}}</span> -->
                <span class="text-red-600 font-bold">₹{{total}}</span>
            </div>
        </div>
        <div class="flex justify-between items-center mb-2">
            <span>Delivery Fee</span>
            <div class="text-right">
                <!-- <span class="line-through text-gray-400 text-xs">₹15</span> -->
                <span class="text-green-600 font-bold">₹15</span>
            </div>
        </div>
        <div class="flex justify-between items-center mb-4">
            <span class="text-green-600 font-medium text-xs">Free Handling Charge !</span>
            <button class="text-sm text-red-500">₹0</button>
        </div>
        <hr class="my-4">
        <div class="flex justify-between items-baseline">
            <span class="font-semibold text-sm text-gray-700">To Pay</span>
            <div class="text-right">
                <!-- <span class="line-through text-gray-400 text-xs">₹710.23</span> -->
                <span class="text-green-600 font-bold">₹{{grandTotal}}</span>
                <!-- <span class="text-green-600 text-xs font-medium ml-2">SAVING ₹174.09</span> -->
            </div>
        </div>
    </div>

    <!-- Delivery Info -->
    <div class="bg-white rounded-xl p-4 shadow-sm mb-4">
        <!-- <div class="flex justify-between items-center mb-2">
            <div class="flex items-center space-x-2">
                <i class="fas fa-comment-dots"></i>
                <span class="text-sm">Delivery Instructions</span>
            </div>
            <i class="fas fa-chevron-down"></i>
        </div> -->
        <hr class="my-4">
        <div class="flex justify-between items-center mb-2">
            <div class="flex items-center space-x-2">
                <i class="fas fa-hand-holding-usd"></i>
                <span class="text-sm">Delivery Partner Tip</span>
            </div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <p class="text-xs text-gray-500">This amount goes to your delivery partner</p>
        <hr class="my-4">
        <div class="flex justify-between items-center mb-2">
            <div class="flex items-center space-x-2">
                <i class="fas fa-shield-alt"></i>
                <span class="text-sm">Delivery Partner’s Safety</span>
            </div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <p class="text-xs text-gray-500">Learn more about how we ensure their safety</p>
    </div>

    <!-- Delivery to Address and Pay Button -->
    <div class="fixed bottom-0 left-0 right-0 bg-white p-4 shadow-lg">
        <div class="flex justify-between items-center mb-4">
            <div class="flex items-center space-x-2">
                <i class="fas fa-map-marker-alt text-purple-500"></i>
                <div class="flex flex-col">
                    <span class="font-semibold text-sm">Delivering to other</span>
                    <p class="text-xs">101, rajeshwari building 11 b road, Gopalnagar Society</p>
                </div>
            </div>
            <i class="fas fa-chevron-down"></i>
        </div>
        <button class="w-full bg-pink-500 text-white rounded-full py-3 font-bold">Click to Pay ₹536.14</button>
    </div>
</div>

  <!-- <ion-list *ngIf="cart.items.length > 0" class="bg-gray" data-cy="cart-list">
    <ion-row *ngFor="let product of cart.items;let i = index;" class="rrow" class="ion-no-padding mt-1 bg-white">
        <ion-col size="3">
            <img src="{{product.imgurl || 'assets/images/products.svg'}}" style="height: 100%;"/>
        </ion-col>
        <ion-col size="9">
            <h4 class="brand">{{ product?.name }} <span data-cy="rm-item" (click)="cart.removeItem(i)" style="float:right; font-size: 1.4rem;"><ion-icon name="close"></ion-icon></span></h4>
            <h5 class="amount">{{ product?.price | currency: 'USD'}}</h5>
            
            <ion-row class="left">
              <ion-col size="12" style="display: flex; align-items: center;">
                <p class="ion-no-margin">Quantity  </p> 
                <p class="qty-bar ion-no-margin" style="padding: 0px 10px;"> <ion-icon (click)="cart.decreaseCartQty(i)" data-cy="dec-qty" style="margin-right:5px;" class="theme-color-shade"  name="remove-circle"></ion-icon>{{ product['cartQuantity'] }}<ion-icon (click)="cart.increaseCartQty(i)" data-cy="inc-qty" style="margin-left:5px;" class="theme-color-shade" name="add-circle"></ion-icon></p>
              </ion-col>  
            </ion-row>
        </ion-col>
    </ion-row>
  </ion-list> -->
  </div>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar class="bg-gray" *ngIf="cart.items.length > 0">
    <ion-row class="footer-bar">
      <ion-col class="p-12-15">
        <div>
          <h2 class="heading">Order Info</h2>
          <p class="mb-1">Total Quantity : {{ cart.total_cart_qty }}</p>
          <p class="mt-1">Total Price    : {{ cart.total_price | currency: 'USD' }}</p>
        </div>
        <ion-button mode="ios" color="danger" expand="full" (click)="placeOrder()"> Place Order </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->