<app-page-header icon="home">
    <h3 routerLink="/home">Home</h3>
    <span class="centertext">
        Bill management
    </span>
</app-page-header>
<!-- <div>
    <ion-content class="ion-padding">
        <div *ngIf="menuDataList && menuDataList.length > 0">
            <div *ngIf="GirdView" class="row gridviewwrap">
                <div class="col-md-6  border-right">
                    <div>
                        <div *ngIf="!mobileview && menuDataList.length>0">
                            <div class="container-search">
                                <div class="row height d-flex justify-content-left align-items-left">
                                    <div class="form">
                                        <i class="fa fa-search"></i>
                                        <input type="text" [(ngModel)]="searchText" class="form-control form-input"
                                            placeholder="Search Item Name...">
                                    </div>
                                </div>
                            </div>

                            <section id="sidebar">
                                <div class="py-1">
                                    <ul class="list-group">
                                        <li (click)="getmenuData()"
                                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                                            <span>All Items </span>
                                        </li>
                                        <li *ngFor="let item of categoryDataList" (click)="filtercate(item.category_id)"
                                            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
                                            {{item.category_name | titlecase }}</li>
                                    </ul>
                                </div>
                            </section>

                            <div class="buttonsbox1" *ngIf="menuDataList[0].menu_name !== 'NoItem'">

                                <div *ngFor="let menu of menuDataList | searchFilter: searchText " class="box2 active">
                                    <div (click)="addProduct(menu)">
                                        <mat-card class="menuboxovrflow" title="{{menu.menu_name}}">
                                            <div *ngIf="menu.menu_url" class="image-container img-one">
                                                <img src="{{menu.menu_url}}" alt="tennis" />
                                            </div>
                                            <p *ngIf="!menu.menu_url"
                                                style="text-transform: capitalize; margin-top: 10px;">
                                                {{menu.menu_name}} </p>
                                            <span *ngIf="menu.menu_url" style="text-transform: capitalize;">
                                                {{menu.menu_name}}ddfd
                                            </span>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonsbox1" *ngIf="menuDataList[0].menu_name === 'NoItem'">
                                <h4 class="box2 active"> No Item Found</h4>
                            </div>
                        </div>


                        <div *ngIf="mobileview && menuDataList.length>0">
                            <div class="filters">
                                <div class="container-search">
                                    <div class="row height d-flex justify-content-left align-items-left">
                                        <div class="form">
                                            <i class="fa fa-search"></i>
                                            <input type="text" [(ngModel)]="searchText" class="form-control form-input"
                                                placeholder="Search Item Name...">
                                        </div>
                                    </div>
                                </div>
                                <mat-tab-group (selectedTabChange)="ontabChange($event)">
                                    <mat-tab label="All Item">
                                        <div class="mobile_menu">
                                            <div class="mobile_menusub"
                                                *ngFor="let menu of menuDataList  | searchFilter: searchText"
                                                (click)="addProduct(menu)">
                                                <span title={{menu.menu_name}}>{{menu.menu_name}}</span>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab *ngFor="let item of categoryDataList" label={{item.category_name}}>
                                        <div *ngIf="menuDataList[0].menu_name !== 'NoItem'">
                                            <div class="mobile_menu" *ngFor="let menu of menuDataList ">
                                                <div class="mobile_menusub" (click)="addProduct(menu)">
                                                    <span title={{menu.menu_name}}>{{menu.menu_name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="menuDataList[0].menu_name === 'NoItem'">
                                            <h4> No Item Found</h4>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <form *ngIf="menuDataList " [formGroup]="orderForm" (keydown.enter)="$event.preventDefault()">
                        <div class="row maindiv">
                            <div *ngIf="!mobileview && DesktopProducts.length !==0 " class="width_100">
                                <div class="width_50 newinput">
                                    <input type="number" formControlName="cutomer_number" (change)="onChangeDataset()"
                                        placeholder="Customer Number" list="cutomer_number"
                                        class="custom-select custom-select-sm">
                                    <datalist id="cutomer_number">
                                        <option class="optionLIST" *ngFor="let item of conatctBookList"
                                            [value]="item.contact_number">
                                    </datalist>
                                </div>
                                <div class="width_50 newinput">
                                    <input type="text" formControlName="cutomer_name" placeholder="Customer Name">
                                </div>
                            </div>
                            <div *ngIf="mobileview && DesktopProducts.length !==0 " class="width_100">
                                <div class="width_50  newinput">
                                    <input type="number" formControlName="cutomer_number" (change)="onChangeDataset()"
                                        placeholder="Customer Number" list="cutomer_number">
                                    <datalist id="cutomer_number">
                                        <option class="optionLIST" *ngFor="let item of conatctBookList"
                                            [value]="item.contact_number">
                                    </datalist>
                                </div>
                                <div class="width_50 newinput">
                                    <input type="text" formControlName="cutomer_name" placeholder="Customer Name">
                                </div>
                            </div>
                            <div>
                                <div class="cardcart">
                                    <div class="card-body-cart p-0 table-responsive">
                                        <table class="table cart-table mb-0 "
                                            *ngIf="menuDataList && menuDataList.length >0">
                                            <tbody *ngIf="DesktopProducts.length ===0 ">
                                                <tr>
                                                    <td colSpan="6">
                                                        <div class="cart-empty">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <p>Your Cart Is empty</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table *ngIf="DesktopProducts.length !==0 " class="table cart-table mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th style="padding-left: 30px;">Qty</th>
                                                    <th>Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of DesktopProducts">
                                                    <td>
                                                        <button class="prdct-qty-close" type="button"
                                                            (click)="removeProduct(item)">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <div class="product-name">
                                                            <p>{{item.menu_name}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="product-name">
                                                            <p>{{item.menu_price}}</p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="prdct-qty-wrp-m">
                                                            <button class="prdct-qty-btn" type="button"
                                                                (click)="decrease(item)">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                            <input type="text" name="qty" [value]="item.qty"
                                                                class="qty-input-box" disabled />
                                                            <button class="prdct-qty-btn" (click)="increase(item)"
                                                                type="button">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td>{{item.qty * item.menu_price}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="DesktopProducts.length !==0  && !mobileview">
                                    <div *ngIf="DesktopProducts &&DesktopProducts.length !==0  && !mobileview "
                                        class="listwrapp">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="5%"> Items</th>
                                                    <th width="5%">Subtotal </th>
                                                    <th width="15%"> Token No</th>
                                                    <th width="15%">Discount </th>
                                                    <th width="15%">Payment.T</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="">
                                                    <td class="subtitiletable">
                                                        {{DesktopProducts.length}}
                                                    </td>
                                                    <td class="subtitiletable">
                                                        {{this.subtotal}} ₹
                                                    </td>
                                                    <td>
                                                        <input class="inp" id="last" type="text"
                                                            formControlName="token_no" />
                                                    </td>
                                                    <td>
                                                        <input class="inp" id="first" type="text"
                                                            formControlName="discount"
                                                            (change)="discountchange('grid')" /> ₹
                                                    </td>
                                                    <td>
                                                        <select style="    width: 100px;
                                            border: 2px solid gray;
                                            border-radius: 3px; padding: 6px;" formControlName="payment_type">
                                                            <option value="Payment Type">Payment Type</option>
                                                            <option value="UPI">UPI</option>
                                                            <option value="CASH">CASH</option>
                                                            <option value="Bank">Bank</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div *ngIf="tax" class="width_100  checktax">
                                            <div class="form-check">
                                                <input class="form-check-input" formControlName="gst_amt"
                                                    (change)="onCheckChange($event)" type="checkbox"
                                                    [value]="gstDatalist[0].total_tax">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Add Tax (GST) - {{gstDatalist[0].total_tax}} % - Tax calculated in
                                                    percentage
                                                </label>
                                            </div>
                                        </div>
                                        <div class="divtotal">
                                            Grand Total - {{allProductsDesktopTotal}} ₹
                                        </div>
                                        <div class="wrapperdivbtn">
                                            <div>
                                                <button class="bbutton" (click)="onDesktopBillSubmit()">Save Bill
                                                </button>
                                            </div>
                                            <div>
                                                <button class="bbutton" (click)="onDesktopBillSubmit()">Save & Print
                                                </button>
                                            </div>
                                            <div>
                                                <button class="bbutton" (click)="onDesktopBillSubmit()">KOT & Print
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div *ngIf="DesktopProducts &&DesktopProducts.length !==0 && mobileview "
                                    class="listwrapp">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="5%"> Items</th>
                                                <th width="5%">Subtotal </th>
                                                <th width="15%"> Token No</th>
                                                <th width="15%">Discount </th>
                                                <th width="15%">Payment.T</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="">
                                                <td class="subtitiletable">
                                                    {{DesktopProducts.length}}
                                                </td>
                                                <td class="subtitiletable">
                                                    {{this.subtotal}}
                                                </td>
                                                <td>
                                                    <input style="width: 61px;" id="last" class="form-label" type="text"
                                                        formControlName="token_no" />
                                                </td>
                                                <td>
                                                    <input style="width: 61px;" id="first" class="form-label"
                                                        type="text" placeholder="0Rs" formControlName="discount"
                                                        (change)="discountchange('grid')" />
                                                </td>
                                                <td>
                                                    <select style="padding: 5px;  width: 63px;"
                                                        formControlName="payment_type">
                                                        <option value="Payment Type">Payment Type</option>
                                                        <option value="UPI">UPI</option>
                                                        <option value="CASH">CASH</option>
                                                        <option value="Bank">Bank</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="tax" class="width_100  checktax">
                                        <div class="form-check">
                                            <input class="form-check-input" formControlName="gst_amt"
                                                (change)="onCheckChange($event)" type="checkbox"
                                                [value]="gstDatalist[0].total_tax">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Add Tax (GST) - {{gstDatalist[0].total_tax}} % - Tax calculated in
                                                percentage
                                            </label>
                                        </div>
                                    </div>
                                    <div class="divtotalmobile">
                                        Grand Total -{{allProductsDesktopTotal}} ₹
                                    </div>
                                    <div class="wrapperdivbtn">
                                        <div>
                                            <button class="bbuttonmobile" (click)="onDesktopBillSubmit()">Save Bill
                                            </button>
                                        </div>
                                        <div>
                                            <button class="bbuttonmobile" (click)="onDesktopBillSubmit()">Save & Print
                                            </button>
                                        </div>
                                        <div>
                                            <button class="bbuttonmobile" (click)="onDesktopBillSubmit()">KOT & Print
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="listView" class="listwrap">
            <form *ngIf="menuDataList " [formGroup]="orderForm" (keydown.enter)="$event.preventDefault()">
                <div class="width_100">
                    <div class="width_50  newinput">
                        <input type="number" formControlName="cutomer_number" (change)="onChangeDataset()"
                            placeholder="Customer Number" list="languages" class="custom-select custom-select-sm">
                        <datalist id="languages">
                            <option class="optionLIST" *ngFor="let item of conatctBookList"
                                [value]="item.contact_number">
                        </datalist>
                    </div>
                    <div class="width_50 newinput">
                        <input type="text" formControlName="cutomer_name" placeholder="Customer Name">
                    </div>
                </div>
                <div>
                </div>
                <div class="listwarpfixed">
                    <button class="btnadd" mat-raised-button (click)="addItem()">ADD
                        ITEM <mat-icon> add</mat-icon></button>
                    <div>
                        <table class="table" *ngIf="items">
                            <thead>
                                <tr>
                                    <th width="2%">Action</th>
                                    <th width="38%">Items </th>
                                    <th width="22%">Price</th>
                                    <th width="20%">Qty</th>
                                    <th width="25%">T.Amt</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items" *ngFor="let item of items.controls; index as idx">
                                <tr [formGroupName]="idx">
                                    <td>
                                        <button class="prdct-qty-close" type="button" (click)="removeGroup(idx)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            <input list="encodings" formControlName="name"
                                                (change)="onBookChange($event,item)"
                                                class="custom-select custom-select-sm">
                                            <datalist id="encodings">
                                                <option *ngFor="let stock of menuDataList" [value]="stock.menu_name">
                                                    {{stock.menu_name}}-
                                                    {{stock.menu_price | currency:'INR'}}</option>
                                            </datalist>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-name" *ngIf="!manualView">
                                            <input class="form-control" formControlName="itemprice" placeholder="0"
                                                readonly>
                                        </div>
                                        <div class="product-name" *ngIf="manualView">
                                            <input class="form-control" formControlName="itemprice"
                                                (change)="onPriceChange($event,item)">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="prdct-qty-wrp-count" *ngIf="!manualView">
                                            <button class="prdct-qty-btn" type="button"
                                                (click)="onKeyUpEvent(item,'remove')">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input placeholder="qty" class="qty-input-box" formControlName="qty"
                                                readonly>
                                            <button class="prdct-qty-btn" (click)="onKeyUpEvent(item,'add')"
                                                type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="prdct-qty-wrp-count" *ngIf="manualView">
                                            <button class="prdct-qty-btn" type="button"
                                                (click)="onMaualKeyUpEvent(item,'remove')">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input placeholder="0" class="qty-input-box" formControlName="qty" readonly>
                                            <button class="prdct-qty-btn" (click)="onMaualKeyUpEvent(item,'add')"
                                                type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-name">
                                            <input class="form-control" placeholder="0" formControlName="price"
                                                readonly>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="items &&items.length !==0  && !mobileview" class="listwrapp">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="15%"> Items</th>
                                <th width="15%">Subtotal </th>
                                <th width="10%"> Token No</th>
                                <th width="10%">Discount </th>
                                <th width="15%">Payment Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="wrapperdiscountlist">
                                <td class="subtitiletable">
                                    {{items.length}}
                                </td>
                                <td class="subtitiletable">
                                    {{this.ListViewTotalBill}} ₹
                                </td>
                                <td>
                                    <input id="last" class="form-label" type="text" formControlName="token_no" />
                                </td>
                                <td>
                                    <input id="first" class="form-label" type="text" placeholder="0 Rs"
                                        formControlName="discount" (change)="discountListchange()" />
                                </td>
                                <td>
                                    <select style="padding: 5px;  width: 63px;" formControlName="payment_type">
                                        <option value="Payment Type">Payment Type</option>
                                        <option value="UPI">UPI</option>
                                        <option value="CASH">CASH</option>
                                        <option value="Bank">Bank</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="tax" class="width_100  checktax">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="gst_amt" (change)="onCheckChange($event)"
                                type="checkbox" [value]="gstDatalist[0].total_tax">
                            <label class="form-check-label" for="flexCheckDefault">
                                Add Tax (GST) - {{gstDatalist[0].total_tax}} % - Tax calculated in percentage
                            </label>
                        </div>
                    </div>
                    <div class="divtotal">
                        Grand Total - {{GrandtotalListViewbill}} ₹
                    </div>
                    <div class="wrapperdivbtn">
                        <div>
                            <button class="bbutton" (click)="onSubmit()">Save Bill </button>
                        </div>
                        <div>
                            <button class="bbutton" (click)="onSubmit()">Save & Print </button>
                        </div>
                        <div>
                            <button class="bbutton" (click)="onSubmit()">KOT & Print </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="items &&items.length !==0 && mobileview " class="listwrapp">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%"> Items</th>
                                <th width="5%">Subtotal </th>
                                <th width="15%"> Token No</th>
                                <th width="15%">Discount </th>
                                <th width="15%">Payment.T</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mobilewrplist">
                                <td class="subtitiletable">
                                    {{items.length}}
                                </td>
                                <td class="subtitiletable">
                                    {{this.ListViewTotalBill}}
                                </td>
                                <td>
                                    <input id="last" class="form-label" type="text" formControlName="token_no" />
                                </td>
                                <td>
                                    <input id="first" class="form-label" type="text" placeholder="0 Rs"
                                        formControlName="discount" (change)="discountListchange()" />
                                </td>
                                <td>
                                    <select formControlName="payment_type">
                                        <option value="Payment Type">Payment Type</option>
                                        <option value="UPI">UPI</option>
                                        <option value="CASH">CASH</option>
                                        <option value="Bank">Bank</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="tax" class="width_100  checktax">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="gst_amt" (change)="onCheckChange($event)"
                                type="checkbox" [value]="gstDatalist[0].total_tax">
                            <label class="form-check-label" for="flexCheckDefault">
                                Add Tax (GST) - {{gstDatalist[0].total_tax}} % - Tax calculated in percentage
                            </label>
                        </div>
                    </div>
                    <div class="divtotalmobile">
                        Grand Total - {{GrandtotalListViewbill}} ₹
                    </div>
                    <div class="wrapperdivbtn">
                        <div>
                            <button class="bbuttonmobile" (click)="onSubmit()">Save Bill </button>
                        </div>
                        <div>
                            <button class="bbuttonmobile" (click)="onSubmit()">Save & Print </button>
                        </div>
                        <div>
                            <button class="bbuttonmobile" (click)="onSubmit()">KOT & Print </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
    <div *ngIf="menuDataList && menuDataList.length === 0 && !listView">
        <div class="empty-state">
            <div class="empty-state__content">
                <div class="empty-state__icon">
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/sorry-item-not-found-3328225-2809510.png"
                        alt>
                </div>
                <div class="empty-state__message">No Item Found .</div>
                <div class="empty-state__help">
                    Simpley clicking <a routerLink="/menu">Add ITEM </a> and Add Item firstly
                </div>

                <div class="empty-state__help">
                    Want to Create Manual Bill Please Click
                    <button mat-flat-button color="primary" class="action" (click)="showListView()">
                        <mat-icon class="mr-2">add</mat-icon>
                        <span> Add Custom Bill </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->

   <!-- Header -->
   <div class="flex justify-between items-center mb-4">
    <div class="flex items-center">
        <img src="https://placehold.co/150x40" alt="Logo" class="mr-2">
        <span class="text-lg">Order No:-1570</span>
        <button class="bg-red-500 text-white px-3 py-1 ml-4">NEW ORDER</button>
    </div>
    <div>
        <button class="bg-green-500 text-white px-3 py-1">ONLINE ORDER</button>
        <button class="bg-red-500 text-white px-3 py-1 ml-2">CANCEL</button>
    </div>
</div>

<!-- Main Content -->
<div class="flex">
    <!-- Sidebar -->
    <div class="w-1/3 pr-4">
        <div class="bg-white p-2 rounded shadow-md mb-4">
            <div class="flex items-center mb-2">
                <input type="text" placeholder="Search item" class="border p-2 w-full">
                <i class="fas fa-search ml-2"></i>
            </div>
            <ul class="space-y-2">
                <li class="bg-yellow-200 p-2 rounded">Popular</li>
                <li class="p-2 rounded">Appetizers</li>
                <li class="p-2 rounded">Soup</li>
                <li class="p-2 rounded">Starter</li>
                <li class="p-2 rounded">Salad</li>
                <li class="p-2 rounded">Punjabi</li>
                <li class="p-2 rounded">South Indian</li>
                <li class="p-2 rounded">Seafood</li>
                <li class="p-2 rounded">Gujrati</li>
            </ul>
        </div>
        <div class="grid grid-cols-3 gap-2">
            <div class="bg-white p-2 rounded text-center shadow-md">Paneer tikka</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Bhel</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Veg. Sandwich</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Pulav</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Garlic toast</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Chana puri</div>
            <div class="bg-white p-2 rounded text-center shadow-md relative">
                Dum aloo
                <span class="bg-blue-500 text-white rounded-full px-2 absolute top-0 right-0">1</span>
            </div>
            <div class="bg-white p-2 rounded text-center shadow-md">Balti paneer</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Paneer malai</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Bhaji pav</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Chole puri</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Masala dosa</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Hot dog</div>
            <div class="bg-white p-2 rounded text-center shadow-md relative">
                Cheese sandwich
                <span class="bg-blue-500 text-white rounded-full px-2 absolute top-0 right-0">1</span>
            </div>
            <div class="bg-white p-2 rounded text-center shadow-md">Chiken tawa</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Egg curry</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Amritsari fish</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Jaipuri paneer handi</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Hyadrabadi biryani</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Samosha</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Kachori</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Chole bhature</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Prawn curry</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Lababdar paneer</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Green beans</div>
            <div class="bg-white p-2 rounded text-center shadow-md">Chilly Hoty</div>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="w-2/3 pl-4 bg-white p-4 rounded shadow-md">
        <div class="flex justify-between mb-2">
            <ul class="flex space-x-4">
                <li class="text-red-500">TABLE</li>
                <li>HOME</li>
                <li>PARCEL</li>
            </ul>
            <div class="flex items-center">
                <span>Table No.</span>
                <input type="text" value="10" class="border p-1 w-12 mx-2 text-center">
                <span>Persons</span>
                <input type="text" value="6" class="border p-1 w-12 mx-2 text-center">
                <span>Mihir</span>
            </div>
        </div>

        <div class="border-t pt-2">
            <h3 class="font-bold mb-2">Customer Details</h3>

            <div class="overflow-x-auto">
                <table class="min-w-full table-auto border-collapse border">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2">ITEMS</th>
                            <th class="border p-2">QTY.</th>
                            <th class="border p-2">PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border p-2">Balti paneer</td>
                            <td class="border p-2 flex items-center justify-center">
                                <button class="border rounded bg-gray-300 px-2">-</button>
                                <span class="px-2">1</span>
                                <button class="border rounded bg-gray-300 px-2">+</button>
                            </td>
                            <td class="border p-2 text-right">190.00</td>
                        </tr>
                        <tr>
                            <td class="border p-2">Cheese sandwich</td>
                            <td class="border p-2 flex items-center justify-center">
                                <button class="border rounded bg-gray-300 px-2">-</button>
                                <span class="px-2">1</span>
                                <button class="border rounded bg-gray-300 px-2">+</button>
                            </td>
                            <td class="border p-2 text-right">80.00</td>
                        </tr>
                        <tr>
                            <td class="border p-2">Corn palak</td>
                            <td class="border p-2 flex items-center justify-center">
                                <button class="border rounded bg-gray-300 px-2">-</button>
                                <span class="px-2">1</span>
                                <button class="border rounded bg-gray-300 px-2">+</button>
                            </td>
                            <td class="border p-2 text-right">320.00</td>
                        </tr>
                        <tr>
                            <td class="border p-2">Hot and sour</td>
                            <td class="border p-2 flex items-center justify-center">
                                <button class="border rounded bg-gray-300 px-2">-</button>
                                <span class="px-2">1</span>
                                <button class="border rounded bg-gray-300 px-2">+</button>
                            </td>
                            <td class="border p-2 text-right">160.00</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="flex justify-between mt-4">
                <span>Sub Total</span>
                <span>13</span>
                <span>1400.00</span>
            </div>
            <div class="flex justify-between items-center mt-2">
                <span>Discount</span>
                <div class="flex items-center space-x-2">
                    <label>
                        <input type="radio" name="discount" checked>
                        Percentage
                    </label>
                    <label>
                        <input type="radio" name="discount">
                        Fixed
                    </label>
                    <input type="text" value="0.00" class="border p-1 w-16 text-right">
                </div>
            </div>
            <div class="flex justify-between items-center mt-2">
                <span>Tax (6%)</span>
                <span>84.00</span>
            </div>
            <div class="flex justify-between items-center mt-4 bg-green-500 text-white p-2 rounded">
                <span>Total</span>
                <span>1484.00</span>
            </div>

            <div class="flex justify-between mt-4">
                <button class="bg-red-500 text-white px-4 py-2 rounded">SAVE</button>
                <button class="bg-green-500 text-white px-4 py-2 rounded">SAVE & PRINT</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded">KOT & PRINT</button>
            </div>
        </div>
    </div>
</div>