.drawer {
  position: fixed;
  height: 100vh;
  min-width: 16%;
  border-right: 1px solid #ccc;
}
.drawer .header {
  right: 0;
  justify-content: space-between;
  border: 1px solid #80808059;
  height: 95px;
}
.drawer .contents {
  margin-top: 50px;
}

.main {
  background-color: #fff;
}

.main.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgb(0 0 0 / 16%);
  height: 47px;
}

.main.contents {
  min-height: 100vh;
  margin-top: 64px; /* height of header */
  
}

.main.footer {
  position: fixed;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
}

.itemvalue{
  display: flex;
  span{
    padding-left: 17px;
    font-size: 15px;
  }
}

.mat-list-item{
  margin-top: 120px;
}


  
  .titlehed{font-size: 20px;
    font-weight: 500;
    margin-left: 13px;
    text-shadow: 4px -2px 20px #ccc, 5px 2px 4px #c9c9c9;
 
 
}
.headlinecolor{
  color: rgb(11, 148, 11);

}
.sidehed{
  font-size: 16px;
}