

.divmainwrap{
  margin-top: 10px;
  margin-bottom: 90px;
}


.divmainwraplist{
  margin-top: 90px;
  margin-bottom: 90px;
}

.divmainwrapDetails{
  margin-bottom: 90px;

}


.headside{
  margin-top: 65px;
}
.cattit{
  text-align: center;
    color: #212121b0;
}