

<ng-container>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-title>Aman Jain</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-list>
            <ion-item  routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" >
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-list>
        
          </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start"  color="dark" >
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start" ><ion-text class="titlehed"> Ondoor<span class="headlinecolor">Veggi</span> </ion-text></ion-title>
        <ion-buttons [collapse]="true" slot="end">
          <i class="fas fa-shopping-cart text-gray-500 text-lg">
          <ion-badge  routerLink="/cart" slot="start"  color="danger" > {{ (dataService.cartSubject | async) || 0 }}</ion-badge>
          </i>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  <ion-content > 
  <div class="divmainwrap">
    <div class="p-4 p-3 mb-10">
        <h2 class="font-bold text-lg text-gray-800">New In Store</h2>
        <div  *ngIf="categoryDataList && mobileview" class="grid grid-cols-2 gap-4 mt-4">
   
            <div  *ngFor="let cate of categoryDataList"  class="text-center border p-1 rounded-md bg-white shadow"  >
                <p class="text-sm font-bold">{{cate.cat_name}}</p>
                <img  src="{{cate.image}}" alt="A bowl with pasta dish" class="mx-auto mt-2 mb-2" (click)="goToProductLIstDialogByCategaryPage(true,cate.cat_id)">
                <p class="text-blue-500 text-xs">Upto <strong>20%</strong> OFF</p>
            </div>
         </div>
         <div  *ngIf="categoryDataList && !mobileview" class="grid grid-cols-4 gap-4 mt-4">
          <div  *ngFor="let cate of categoryDataList"  class="text-center border p-1 rounded-md bg-white shadow"  >
              <p class="text-sm font-bold">{{cate.cat_name}}</p>
              <img  src="{{cate.image}}" alt="A bowl with pasta dish" class="mx-auto mt-2 mb-2" (click)="goToProductLIstDialogByCategaryPage(true,cate.cat_id)">
              <p class="text-blue-500 text-xs">Upto <strong>20%</strong> OFF</p>
          </div>
       </div>
    </div>
    <div class="fixed bottom-0 left-0 right-0 bg-white shadow flex justify-around text-xs py-3 border-t">
        <a href="#" class="text-center">
            <i class="fas fa-home text-gray-500 text-lg"></i>
            <div>Home</div>
        </a>
        <a href="#" class="text-center">
            <i class="fas fa-th text-gray-500 text-lg"></i>
            <div>Categories</div>
        </a>
        <a href="#" class="text-center">
             <i class=" fas fa-search text-gray-500 text-lg"></i>
             <div>Search</div> 
        </a>
        <a href="#" class="text-center">
            <i class="fas fa-shopping-cart text-gray-500 text-lg"></i>
            <div>Cart</div>
        </a>
    </div>
  </div>
    </ion-content>
  </div>
</ng-container>




<!-- _____________________________________________________open list page________________________________________________________________________ -->
  
  
<ion-modal [isOpen]="productModelValue"  >
  <ng-template >
 

    <!---------------------------------------------------- list page-------------------------------------- -->
    <ion-content [fullscreen]="true" *ngIf="productlistpage" >
      <ion-header>
        <!-- <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeProductlistModal()" >   <mat-icon>keyboard_arrow_left</mat-icon>Vegetables</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-icon name="funnel{{ productService.isSorted() ? '' : '-outline' }}" class="ion-padding-horizontal" (click)='sortProducts()'></ion-icon>
          </ion-buttons>
        </ion-toolbar> -->
        <div class="fixed z-10 top-0 left-0 right-0 flex p-4 bg-white shadow-lg items-center justify-between p-4 border-b">
          <button class="text-xl" (click)="closeProductlistModal()" ><i class="fas fa-arrow-left"></i></button>
          <h1 class="text-lg font-bold">Vegetables</h1>
          <div class="container-search  ">
            <div class="row height justify-content-left align-items-left">
              <div class="form">
                <div class="search-wrapper ">
                  <input class="search-input" type="text"  [(ngModel)]="searchText" placeholder="Search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search"
                    viewBox="0 0 24 24">
                    <defs></defs>
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="M21 21l-4.35-4.35"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
      </div>
      </ion-header>
  
      <div class="divmainwraplist">
        <div  class="grid grid-cols-2 gap-4">
          <div *ngFor='let product of productArray  | searchFilter: searchText' class="bg-white rounded-lg shadow p-4">
            <div class="relative">
              <img
                src="{{product.nutrition_weight}}"
                alt="Apples" class="rounded-lg w-full"  (click)="goToProductDetailsPageByProductId(true,product.prod_id)">
              <!-- <span class="absolute top-2 left-2 bg-purple-600 text-white text-sm px-2 py-1 rounded-full">9% Off</span> -->
            </div>
            <div class="flex justify-between items-center mt-2">
              <div class="flex items-center">
                  <button  (click)="addCart(product)"  class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-200 via-pink-300 to-pink-200 group-hover:from-red-200 group-hover:via-pink-300 group-hover:to-pink-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-pink-100 dark:focus:ring-pink-400">
                      <span class="relative px-3 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                          {{ product.isAdded? 'Added' : 'Add to cart' }}
                      </span>
                      </button>

                      <!-- <div  (click)="addCart(product)"  class="add-button">Add</div> -->
                  <!-- <button type="button" (click)="addCart(product)"  class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2">{{ product.isAdded? 'Added' : 'Add to cart' }}</button> -->
                <!-- <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 "> </button> -->
              </div>
            </div>
            <p class="mt-2 text-gray-800 font-semibold ">{{product.name}}</p>
            <p class="text-gray-500 font-semibold">{{product.unit_name}} {{product.unit_value}} - ₹ {{product.price}}</p>
          </div>
        </div>
      
  
    <div *ngIf="!mobileview " class="grid grid-cols-4 gap-4">
      <div *ngFor='let product of this.productArray' class="bg-white rounded-lg shadow p-4">
        <div (click)="goToProductDetailsPageByProductId(true,product.prod_id)" class="relative">
          <img
            src="{{product.nutrition_weight}}"
            alt="Apples" class="rounded-lg w-full">
          <!-- <span class="absolute top-2 left-2 bg-purple-600 text-white text-sm px-2 py-1 rounded-full">9% Off</span> -->
        </div>
        <div class="flex justify-between items-center mt-2">
          <div class="flex items-center">
              <button  (click)="addCart(product)"  class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-rgb(237 74 155)-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-pink-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                  <span class="relative px-4 py-2 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                      {{ product.isAdded? 'Added' : 'Add to cart' }}
                  </span>
                  </button>
              <!-- <button type="button" (click)="addCart(product)"  class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-3 py-2 text-center me-2 mb-2">{{ product.isAdded? 'Added' : 'Add to cart' }}</button> -->
            <!-- <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 "> </button> -->
          </div>
        </div>
        <p class="mt-2 text-gray-800 ">{{product.name}}</p>
        <p class="text-gray-500">{{product.unit_name}} {{product.unit_value}} - ₹ {{product.price}}</p>
      </div>
    </div>
  
    <div (click)="presentModal()" class="fixed bottom-0 left-0 right-0 p-4 bg-white mt-2">
      <div class="flex items-center justify-center space-x-2 bg-pink-500 text-white py-2 px-4 rounded-lg">
          <span>{{cartNumber}} Items </span>
          <button class="flex items-center">
              <i class="fas fa-shopping-cart"></i>
              <span class="ml-2">View Cart</span>
          </button>
      </div>
  </div>
  </div>
    </ion-content>
  <!---------------------------------------------------- detials page-------------------------------------- -->

    <ion-content  [fullscreen]="true" *ngIf="productdetailspage" [fullscreen]="true">
      <div class="divmainwrapDetails">
      <div   class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden ">
        <div class="relative">
          <img src="{{productDetailsList.nutrition_weight}}" alt="Bag of Hawaiian Barbeque Cheese Popcorn surrounded by ingredients" class="w-full">
          <button class="absolute left-2 top-2 w-8 h-8 bg-white text-gray-700 rounded-full flex items-center justify-center shadow-md">
            <i class="fas fa-arrow-left" (click)="goToListPage()"></i>
          </button>
          <button class="absolute right-2 top-2 w-8 h-8 bg-white text-gray-700 rounded-full flex items-center justify-center shadow-md">
            <i class="fas fa-heart"></i>
          </button>
          <button class="absolute right-2 top-12 w-8 h-8 bg-white text-gray-700 rounded-full flex items-center justify-center shadow-md">
            <i class="fas fa-share-alt"></i>
          </button>
        </div>
        
        <!-- Product Details Section -->
        <div class="p-4">
          <h2 class="text-lg font-semibold mb-1">{{productDetailsList.name}}</h2>
          <p class="text-gray-500 mb-2">Net Qty: {{productDetailsList.unit_name}} {{productDetailsList.unit_value}}</p>
          <div class="flex items-center mb-2">
            <p class="text-lg font-bold text-green-600 mr-2">₹{{productDetailsList.price}} </p>
            <!-- <p class="text-sm text-green-600 font-semibold mr-2">24% Off</p> -->
            <!-- <p class="text-sm text-gray-400 line-through">MRP ₹49</p> -->
            <p class="text-xs text-gray-400">(incl. of all taxes)</p>
          </div>
          <div class="flex items-center text-green-600 mb-2">
            <i class="fas fa-bolt mr-2"></i>
            <p class="text-sm">Get it in 10 minutes</p>
          </div>
          <!-- <button class="w-full py-2 text-green-700 bg-green-100 rounded flex items-center justify-center">
            View all 4700BC products
          </button> -->
        </div>
    
        <!-- Coupons & Offers Section -->
        <div class="p-4 bg-gray-50 mb-3">
          <h3 class="text-md font-semibold mb-3">Description</h3>
          <div class="flex items-center bg-white p-3 mb-3 rounded shadow">
            <div class="w-2/3">
              <p class="text-sm ">{{productDetailsList.detail}}</p>
            </div>
         
          </div>
          <!-- <button class="w-full py-2 text-red-600 hover:text-red-700 font-semibold">
            View all coupons
          </button> -->
             <!-- View Cart Section -->
             <div class="fixed bottom-0 left-0 right-0 p-4 bg-white mt-2">
              <div class="flex items-center justify-center space-x-2 bg-pink-500 text-white py-2 px-4 rounded-lg">
                  <button  class="flex items-center">
                      <i class="fas fa-shopping-cart"></i>
                      <span class="ml-2">Add to Cart</span>
                  </button>
              </div>
          </div>
        </div>
      </div>
      </div>
    </ion-content>

<!-- -------------------------------------end ---------------------------------------------------------------->


  </ng-template>
</ion-modal>
  
