

.divmainwrap{
  margin-top: 10px;
  margin-bottom: 90px;
}


.divmainwraplist{
  margin-top: 90px;
  margin-bottom: 90px;
}

.divmainwrapDetails{
  margin-bottom: 90px;

}


.headside{
  margin-top: 65px;
}
.cattit{
  text-align: center;
    color: #212121b0;
}
.headbg{
  background: linear-gradient(rgb(65, 1, 169), rgb(1, 125, 241))
}
.imgh{
  height: 100px;
}
.subti{    font-size: 13px;
    font-weight: 500;
}

.titlehed {
  font-size: 21px;
  font-weight: 600;
  color: #fff;
  margin: 50px;
}