

.divmainwrap{
  margin-top: 10px;
  margin-bottom: 90px;
}


.divmainwraplist{
  margin-top: 80px;
  margin-bottom: 90px;
}

.divmainwrapDetails{
  margin-bottom: 90px;

}


.headside{
  margin-top: 65px;
}
.cattit{
  text-align: center;
    color: #212121b0;
}
.headbg{
  background: linear-gradient(rgb(65, 1, 169), rgb(1, 125, 241))
}
.imgh{
  height: 100px;
}
.subti{      font-size: 11px;
  font-weight: 500;
  margin-top: 13px;
  float: left;
}

.titlehed {
  font-size: 21px;
  font-weight: 600;
  color: #fff;
}

.additle{
  font-size: 19px;
  text-align: center;
font-weight: 600;
color: white;

}
.addsubitle{
  text-align: center;
  font-size: 16px;
}
.textcenter{
  margin-left: 60px;
  padding: 3px;

}


.minclo{
  color: #78187b;
}
.addt{
  font-size: 15px;
  margin-left: 36px;
}
.heightdiv{
  height: 37px;
}
.baner{
  
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(70, 9, 121, 1) 35%, #ff4081 100%);
  border-radius: 5px;
}