<section class="divmainadmin">
  <section class="wrapper ">
    <form class="menu-container" [formGroup]="categoryForm" autocomplete="off" novalidate>
      <div class="maindivinput">
        <div>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="category_name" placeholder="Enter Category Name">
          </mat-form-field>
          <span *ngIf="submitted && categoryForm['controls']['category_name'].errors">
            <span class="errormsg" *ngIf="categoryForm.controls['category_name'].errors['required']">*Category name is
              required</span>
          </span>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="image" placeholder="Enter Category Name">
          </mat-form-field>
          <span *ngIf="submitted && categoryForm['controls']['image'].errors">
            <span class="errormsg" *ngIf="categoryForm.controls['image'].errors['required']">*Category image is
              required</span>
          </span>
        </div>

        <div>

          <div class="field">
            <button class="btnsubmit"  *ngIf="!updatebtn"  type="submit" (click)="onSubmit()">Save</button>
            <button class="btnsubmit" *ngIf="updatebtn"  type="submit" [disabled]="!categoryForm.valid"
              (click)="update()">Update</button>
          </div>
        </div>

      </div>


      <div *ngIf="categoryDataList && categoryDataList.length >0" class="grid-wrapper">
        <div class="container-search ">
          <div class="bg-white rounded flex items-center w-full max-w-xl mr-4 p-2 shadow-sm border border-gray-200">
            <button class="outline-none focus:outline-none">
              <svg class="w-5 text-gray-600 h-5 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </button>
            <input type="search" (keyup)="applyFilter($event)" placeholder="Search" class="w-full pl-3 text-sm text-black outline-none focus:outline-none bg-transparent" />
          </div>
        </div>





        <div class="mat-elevation-z8" *ngIf="dataSource">
          <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSortmatSortStart="desc" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="category_id">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> <mat-icon style="color: gery;" class="icons"
                  (click)="edit(element)"> edit</mat-icon>
                <mat-icon style="color: #c84874;" class="icons" (click)="deleteValue(element.cat_id)">
                  delete</mat-icon>
              </td>
            </ng-container>
            <ng-container matColumnDef="category_name">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Category Name </th>
              <td mat-cell *matCellDef="let element let i = index"> {{i + 1}} - {{element.cat_name | titlecase}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100,150]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </form>
  </section>
</section>


