.noitem{
    text-align: center;
    color: #1f1c2e;
    position: absolute;
    left: 30%;
    img{
        width: 100px;
        margin-top: 50px;
    }
}

.divmaincart{
    margin-top: 63px;
    margin-bottom: 87px;
}

.divmaincartno{
    margin-top: 100px;
}