<ion-content>
  <div *ngIf="loginFormFlg" class="flex font-poppins items-center justify-center">
    <div class="mt-10 w-screen flex justify-center items-center dark:bg-gray-900">
      <div class="grid gap-8">
        <div id="back-div" class="">
          <div class="titlehed"> Ondoor<span class="headlinecolor">Veggi</span> </div>
          <div
            class="border-[20px] border-transparent rounded-[20px] dark:bg-gray-900 bg-white shadow-lg xl:p-10 2xl:p-10 lg:p-10 md:p-10 sm:p-2 m-2">
            <h1 class="pt-8 pb-6 font-bold dark:text-gray-400 text-[20px] text-center cursor-default">
              Login
            </h1>
            <form [formGroup]="loginForm" class="space-y-4">
              <div>
                <label for="email" class="mb-2  dark:text-gray-400 text-lg">Email</label>
                <input id="email" formControlName="emailid"
                  class="border p-3 dark:bg-indigo-700 dark:text-gray-300  dark:border-gray-700 shadow-md placeholder:text-base focus:scale-105 ease-in-out duration-300 border-gray-300 rounded-lg w-full"
                  type="email" placeholder="Email" required />
              </div>
              <div>
                <label for="password" class="mb-2 dark:text-gray-400 text-lg">Password</label>
                <input id="password" formControlName="password"
                  class="border p-3 shadow-md dark:bg-indigo-700 dark:text-gray-300  dark:border-gray-700 placeholder:text-base focus:scale-105 ease-in-out duration-300 border-gray-300 rounded-lg w-full"
                  type="password" placeholder="Password" required />
              </div>
              <a class="group text-blue-400 transition-all duration-100 ease-in-out" href="#">
                <span
                  class="bg-left-bottom bg-gradient-to-r text-sm from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
                  Forget your password?
                </span>
              </a>
              <button (click)="onLogin()"
                class="bg-gradient-to-r dark:text-gray-300 from-blue-500 to-purple-500 shadow-lg mt-6 p-2 text-white rounded-lg w-full hover:scale-105 hover:from-purple-500 hover:to-blue-500 transition duration-300 ease-in-out"
                type="submit">
                LOG IN
              </button>
            </form>
            <div class="flex flex-col mt-4 items-center justify-center text-sm">
              <h3 class="dark:text-gray-300">
                Don't have an account?
                <a class="group text-blue-400 transition-all duration-100 ease-in-out" href="#">
                  <span
                    class="bg-left-bottom bg-gradient-to-r from-blue-400 to-blue-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">
                    Sign Up
                  </span>
                </a>
              </h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>



<!-- <h2 class="head">Apna Bill Wala</h2> -->

<!-- <div class="logindivmain" *ngIf="loginFormFlg" >
   <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's Login ApnaBillWala</h3>
          <p class="text">
              Hi! We are here to help Your Business
          </p>
        </div>
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
  
          <form  [formGroup]="loginForm"  autocomplete="off">
            <h3 class="title">Login</h3>
            <div class="input-container">
              <input type="text" name="name" formControlName="emailid" class="input" placeholder="Email Id /  Mobile Number" />
              <div *ngIf="submittedlogin && loginForm['controls']['emailid'].errors" >
                <div *ngIf="loginForm.controls['emailid'].errors['required']">* Email id  Or Mobile Number  is required</div>
              </div>
            
            </div>
       
            <div class="input-container">
              <input type="password" name="phone"  formControlName="password" class="input" placeholder="Password"/>
              <div *ngIf="submittedlogin && loginForm['controls']['password'].errors" >
                <div *ngIf="loginForm.controls['password'].errors['required']">* Password  is required</div>
              </div>
            </div>
            <input type="submit"  (click)="onLogin()" value="Login"  class="btn" />
            <div class="signup-link">
               <a routerLink="/forgetpassword">Forgot password?</a>
            </div>
            <div class="signup-link" >
               Not a member? <a  (click)="login('SignUp')">Signup now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</div>
<div class="logindivmain" *ngIf="registerFormFlg" >
   <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's Sginup ApnaBillWala</h3>
          <p class="text">
              Hi! We are here to help Your Business
          </p>
        </div>
        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>
  
          <form  [formGroup]="sginupForm"  autocomplete="off">
            <h3 class="title">SignUp</h3>
            <div class="input-container">
              <input type="text" name="name" formControlName="name" class="input" placeholder="Full Name" />
              <div *ngIf="submitted && sginupForm['controls']['name'].errors" >
                <div *ngIf="sginupForm.controls['name'].errors['required']">*Full Name is required</div>
              </div>
            </div>
            <div class="input-container">
               <input type="number" name="phone_number"  formControlName="phone_number" class="input" placeholder="Phone Number"/>
               <div *ngIf="submitted && sginupForm['controls']['phone_number'].errors" >
                <div *ngIf="sginupForm.controls['phone_number'].errors['required']">*PhoneNumber is required</div>
              </div>
             </div>
            <div class="input-container">
              <input type="email" name="phone"  formControlName="email" class="input" placeholder="Email"/>
              <div *ngIf="submitted && sginupForm['controls']['email'].errors" >
                <div *ngIf="sginupForm.controls['email'].errors['required']">*Email is required</div>
                <div *ngIf="sginupForm.controls['email'].errors['email']"> *Email is invalid</div>
              </div>
            </div>
            <div class="input-container">
               <input type="password" name="password"  formControlName="password" class="input" placeholder="Password"/>
               <div *ngIf="submitted && sginupForm['controls']['password'].errors" >
                <div *ngIf="sginupForm.controls['password'].errors['required']">*Password is required</div>
              </div>
             </div>
     
            <input type="submit" (click)="onSubmit()"value="Register" class="btn" />
            <div class="signup-link">
               <a routerLink="/forgetpassword">Forgot password?</a>
            </div>
            <div class="signup-link" >
               You a member? <a  (click)="login('login')">Login now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</div> -->
<!-- <div  *ngIf="registerFormFlg"  class="divmain">
  <div class="wrapper">
    <div class="title">
      Restro Help Registration
    </div>
    <form [formGroup]="sginupForm" novalidate class="form" autocomplete="off">
       <div class="field">
        <input type="text" formControlName="name"  placeholder="Enter Name" />
       </div>
       <div class="field" style="    height: 20px;">
       <label style="    font-size: 13px;"> * Shop Type</label>
      </div>
       <div class="field">
         <select formControlName="shop_type" >
            <option value="restaurant">Restaurant </option>
            <option value="shop">Shop </option>
         </select>
        </div>
       <div class="field">
        <input type="text" formControlName="company_name" placeholder="Shop Name" />
       </div>
       <div class="field">
        <input type="text"  formControlName="shop_address" placeholder="Shop Address" />
       </div>
       <div class="field">
         <input type="text"  formControlName="gst" placeholder="Shop Gst Number" />
        </div>
       <div class="field">
        <input type="email" formControlName="email" placeholder="Enter Email" />
       </div>
       <div class="field">
        <input type="text" formControlName="phone_number" placeholder="Enter Mobile Number" />
       </div>
       <div class="field">
        <input type="password" formControlName="password" placeholder="Password">
       </div>
     
     
       <div class="field">
          <input type="submit"  (click)="onSubmit()"value="Register">
       </div>
       <div class="signup-link" >
  
          You a member? <a  (click)="login('login')">Login now</a>
       </div>
      
    </form>
  </div>
</div> -->