<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar >
      <ion-title>Aman Jain</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-list>
          <ion-item  routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" >
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-list>
      
        </ion-menu-toggle>
  </ion-content>
</ion-menu>