
.example-headers-align {
  table,
  th,
  td {
    border: 1px solid #00000021;
    font-size: 11px !important;
  
  }
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.paddingheade {
  margin-bottom: 10px;
}

.my-classred {
  color: #cd0d0d;
  cursor: pointer;
}

.my-classgreen {
  color: green;
  cursor: pointer;
}

.total button {
  outline: none;
  /* color: white !important;
    border: none; */

  margin: 6px;
}

.table thead th {

  text-align: center;
  font-weight: 500;
}

.deletebtn {
  float: right;
  margin: 3px;
  color: #cd0d0d;
  cursor: pointer;
}

.textcenter {
  text-align: center;
  float: left;
  width: 100%;
  padding: 10px;

}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  /* margin-right: 40px !important; */
  color: #000000bd !important;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 15px !important;
}

.table td {

  text-align: center;
}

.iconmob {
  background: #3f51b5;
  padding: 0px;
  color: white;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {

  .mat-expansion-panel-header-description,
  .mat-expansion-panel-header-title {
    font-size: 14px !important;
  }

  .iconmob {
    background: #3f51b5;
    padding: 0px;
    color: white;
    border-radius: 15px;
  }

}

@media screen and (max-width: 480px) {

  .my-classgreen {
    color: green;
    /* font-weight: 600; */
  }

  .my-classred {
    color: red;
  }

}

.Modal_delete_footer button {
  float: right;
  margin: 10px;
}

