.width_50{
    float: left;
    width: 50%;
}

.maindivtax{
    float: left;
    width: 100%;
    div{
        margin: 10px;
    }
}
.wrapper{
    margin-top: 105px;
}
.btnsubmittax{
    margin-left: 10px;
}