
<mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="false">
    <mat-toolbar class="header">
      <button class="profile-btn">
        <div class="title">Ondoor Veggi Admin</div>
      </button>
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
      <mat-list>
        <ng-container *ngFor="let item of menulist">
          <!-- If the item doesn't have children show it as list item-->
          <ng-container *ngIf="item.subMenu === undefined">
            <mat-list-item
              *ngIf="item.title"
              [routerLink]="item.link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <div class="itemvalue" >
          <mat-icon [style.color]="item.color" >
                {{ item.icon }}
              </mat-icon>
          <span> {{ item.title }}</span>
        </div>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
  </mat-drawer>



  <mat-toolbar class="main header">
   
    <div class="app-header">
      <div class="app-header-left">
        <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
          menu
        </mat-icon>
          <p class="app-name"> {{urlname}}</p>  
      </div>
      <div class="app-header-right">

        <button class="notification-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-bell">
            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
            <path d="M13.73 21a2 2 0 0 1-3.46 0" />
          </svg>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon><span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon> <span>Logout</span>
          </button>
        </mat-menu>
        <button  [matMenuTriggerFor]="menu" class="profile-btn">
        <mat-icon>person</mat-icon>
        </button>
      </div>

    </div>
  </mat-toolbar>

  <div class="main contents">
    <router-outlet></router-outlet>
  </div>

  <!-- <mat-toolbar class="main footer">
    <div style="text-align: center; margin-top: 20px; font-size: 14px;">
      <p>&copy; <span id="year"></span> galaxyscript pvt 2023 . All rights reserved.</p>
  </div>
  </mat-toolbar> -->
</mat-drawer-container>